h1 {
    font-size: 20pt;
    text-align: center;  
    background-color: peachpuff;
    color: brown; 
}

body {
    font-size: 15pt;
    text-align: center;  
    background-color: peachpuff;
    color: brown;
}
